body {
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
    BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  background-color: #e9ebee;
}

.header {
  background-color: #3b5998;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 13%;
}

.logo {
  display: flex;
  align-items: center;
}

.register-button {
  background-color: #42b72a;
  height: 25px;
  border: none;
  color: white;
  padding: 2px 10px;
  margin-left: 10px;
}

.join-facebook {
  background-color: #3b5998;
  border: none;
  color: white;
}

.content {
  width: 981px;
}
